
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h2>Hello World</h2>
    <a href="../Customer">Link to customer page</a>
</div>
</body>
</html>
